.vscode/**
.vscode-test/**
.claude/**
.idea/**
.git/**
.github/**
out/**
node_modules/**
src/**
coverage/**
.nyc_output/**
.gitignore
.yarnrc
esbuild.js
CLAUDE.md
scripts/**
examples/**
*.vsix
.env
.env.*
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
